In [34]:
# ---------------------------------------------------------
# üõ†Ô∏è 1. Import libraries
# ---------------------------------------------------------
import pandas as pd
import json

In [35]:
# ---------------------------------------------------------
# üõ†Ô∏è 2. Load Dataset
# ---------------------------------------------------------
with open("../data/jobs_raw.json", "r", encoding="utf-8") as f:
    data = json.load(f)

df = pd.DataFrame(data)
print(f"Shape: {df.shape}")
df.head()

Shape: (99, 17)

,slug,id,epoch,date,company,company_logo,position,tags,description,location,salary_min,salary_max,apply_url,logo,url,original,verified
0,remote-head-of-apac-bd-jito-foundation-1093353,1093353,1749722402,2025-06-12T10:00:02+00:00,Jito Foundation,,Head of APAC BD,"[defi, crypto, growth, lead]","<p><b style=""font-size: 18px;"">About Jito Foun...","Remote, Singapore &amp; HK preferred - other A...",40000,80000,https://remoteOK.com/remote-jobs/remote-head-o...,,https://remoteOK.com/remote-jobs/remote-head-o...,NaN,NaN
1,remote-software-development-engineer-triple-a-...,1093351,1749716102,2025-06-12T08:15:02+00:00,Triple A Technologies Pte,,Software Development Engineer,"[golang, software, engineer]",Remote - About Triple-ATriple-A is a global pa...,,55000,105000,https://remoteOK.com/remote-jobs/remote-softwa...,,https://remoteOK.com/remote-jobs/remote-softwa...,NaN,NaN
2,remote-token-plan-administrator-toku-1093348,1093348,1749664804,2025-06-11T18:00:04+00:00,Toku,https://remoteok.com/assets/img/jobs/ced713f60...,Token Plan Administrator,"[support, payroll, financial, education, admin...","<p><span style=""font-size: 11pt"">We are lookin...",United States,50000,70000,https://remoteOK.com/remote-jobs/remote-token-...,https://remoteok.com/assets/img/jobs/ced713f60...,https://remoteOK.com/remote-jobs/remote-token-...,NaN,NaN
3,remote-senior-staff-engineer-infrastructure-pr...,1093343,1749589206,2025-06-10T21:00:06+00:00,Pryon,https://remoteok.com/assets/img/jobs/c377d21ce...,Senior Staff Engineer Infrastructure,"[design, security, architect, technical, code,...",<p><b>About Pryon:&nbsp;</b></p><p>We√¢¬Ä¬ôre a t...,,70000,125000,https://remoteOK.com/remote-jobs/remote-senior...,https://remoteok.com/assets/img/jobs/c377d21ce...,https://remoteOK.com/remote-jobs/remote-senior...,NaN,NaN
4,remote-social-media-manager-caiz-1093342,1093342,1749582003,2025-06-10T19:00:03+00:00,Caiz,https://remoteok.com/assets/img/jobs/be305c5af...,Social Media Manager,"[manager, crypto, system, security, support, v...",&lt;p&gt;&lt;strong&gt;Caiz&lt;/strong&gt;&lt;...,,37500,72500,https://remoteOK.com/remote-jobs/remote-social...,https://remoteok.com/assets/img/jobs/be305c5af...,https://remoteOK.com/remote-jobs/remote-social...,NaN,NaN

In [36]:
# ---------------------------------------------------------
# üîç 3. Inspect Dataset
# ---------------------------------------------------------

In [37]:
# View column names
df.columns.tolist()

['slug',
 'id',
 'epoch',
 'date',
 'company',
 'company_logo',
 'position',
 'tags',
 'description',
 'location',
 'salary_min',
 'salary_max',
 'apply_url',
 'logo',
 'url',
 'original',
 'verified']

In [38]:
# View data types and nulls
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   slug          99 non-null     object
 1   id            99 non-null     object
 2   epoch         99 non-null     int64
 3   date          99 non-null     object
 4   company       99 non-null     object
 5   company_logo  99 non-null     object
 6   position      99 non-null     object
 7   tags          99 non-null     object
 8   description   99 non-null     object
 9   location      99 non-null     object
 10  salary_min    99 non-null     int64
 11  salary_max    99 non-null     int64
 12  apply_url     99 non-null     object
 13  logo          99 non-null     object
 14  url           99 non-null     object
 15  original      22 non-null     object
 16  verified      8 non-null      object
dtypes: int64(3), object(14)
memory usage: 13.3+ KB

In [39]:
# Summary statistics
df.describe(include='all')

,slug,id,epoch,date,company,company_logo,position,tags,description,location,salary_min,salary_max,apply_url,logo,url,original,verified
count,99,99,9.900000e+01,99,99,99,99,99,99,99,99.000000,99.000000,99,99,99,22,8
unique,99,99,NaN,99,82,85,94,96,99,27,NaN,NaN,99,85,99,1,1
top,remote-head-of-apac-bd-jito-foundation-1093353,1093353,NaN,2025-06-12T10:00:02+00:00,Anchorage Digital,,Senior Backend Engineer,"[manager, crypto, system, security, support, v...","<p><b style=""font-size: 18px;"">About Jito Foun...",,NaN,NaN,https://remoteOK.com/remote-jobs/remote-head-o...,,https://remoteOK.com/remote-jobs/remote-head-o...,True,True
freq,1,1,NaN,1,4,15,3,2,1,47,NaN,NaN,1,15,1,22,8
mean,NaN,NaN,1.748389e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58484.848485,94520.202020,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,6.693077e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29878.192729,45522.304423,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.747152e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,1.747940e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40000.000000,70000.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,1.748261e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60000.000000,97500.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,1.748923e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70000.000000,120000.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,1.749722e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,150000.000000,300000.000000,NaN,NaN,NaN,NaN,NaN

In [40]:
# Check for missing values
df.isnull().sum().sort_values(ascending=False).head(20)

verified        91
original        77
location         0
url              0
logo             0
apply_url        0
salary_max       0
salary_min       0
slug             0
id               0
tags             0
position         0
company_logo     0
company          0
date             0
epoch            0
description      0
dtype: int64

In [41]:
# ---------------------------------------------------------
# üßº 4. Clean Column Names and Remove Irrelevant Ones
# ---------------------------------------------------------
df = df.drop(columns=["company_logo", "url", "tags", "logo", "slug"], errors="ignore")
df = df.rename(columns={
    "company": "Company",
    "position": "Job Title",
    "location": "Location",
    "date": "Posted Date",
    "description": "Description",
    "tags": "Tags",
    "job_type": "Job Type"
})
df.head()

,id,epoch,Posted Date,Company,Job Title,Description,Location,salary_min,salary_max,apply_url,original,verified
0,1093353,1749722402,2025-06-12T10:00:02+00:00,Jito Foundation,Head of APAC BD,"<p><b style=""font-size: 18px;"">About Jito Foun...","Remote, Singapore &amp; HK preferred - other A...",40000,80000,https://remoteOK.com/remote-jobs/remote-head-o...,NaN,NaN
1,1093351,1749716102,2025-06-12T08:15:02+00:00,Triple A Technologies Pte,Software Development Engineer,Remote - About Triple-ATriple-A is a global pa...,,55000,105000,https://remoteOK.com/remote-jobs/remote-softwa...,NaN,NaN
2,1093348,1749664804,2025-06-11T18:00:04+00:00,Toku,Token Plan Administrator,"<p><span style=""font-size: 11pt"">We are lookin...",United States,50000,70000,https://remoteOK.com/remote-jobs/remote-token-...,NaN,NaN
3,1093343,1749589206,2025-06-10T21:00:06+00:00,Pryon,Senior Staff Engineer Infrastructure,<p><b>About Pryon:&nbsp;</b></p><p>We√¢¬Ä¬ôre a t...,,70000,125000,https://remoteOK.com/remote-jobs/remote-senior...,NaN,NaN
4,1093342,1749582003,2025-06-10T19:00:03+00:00,Caiz,Social Media Manager,&lt;p&gt;&lt;strong&gt;Caiz&lt;/strong&gt;&lt;...,,37500,72500,https://remoteOK.com/remote-jobs/remote-social...,NaN,NaN

In [42]:
# ---------------------------------------------------------
# üìÜ 5. Convert Dates to Datetime
# ---------------------------------------------------------
df["Posted Date"] = pd.to_datetime(df["Posted Date"], errors="coerce")
df["Posted Date"].head()

0   2025-06-12 10:00:02+00:00
1   2025-06-12 08:15:02+00:00
2   2025-06-11 18:00:04+00:00
3   2025-06-10 21:00:06+00:00
4   2025-06-10 19:00:03+00:00
Name: Posted Date, dtype: datetime64[ns, UTC]

In [43]:
# ---------------------------------------------------------
# üßπ 6. Drop Rows with Missing Key Data
# ---------------------------------------------------------
df = df.dropna(subset=["Company", "Job Title", "Location"])
df.shape

(99, 12)

In [44]:
# ---------------------------------------------------------
# üåç 7. Normalize 'Location' Field
# ---------------------------------------------------------
df["Location"] = df["Location"].str.strip().str.title()
df["Location"] = df["Location"].replace({
    "Worldwide": "Remote",
    "Anywhere": "Remote",
    "Global": "Remote"
})
df["Location"].value_counts().head(10)

Location
                                                                          47
Remote                                                                    15
United States                                                              9
Los Angeles, Ca                                                            2
Us                                                                         2
Remoto                                                                     2
Toronto, Ontario                                                           2
Remote, Singapore &Amp; Hk Preferred - Other Apac Locations Considered     1
Remote - United States Only                                                1
San Francisco, Ca                                                          1
Name: count, dtype: int64